.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header{
    /* background-color: aqua; */
    border: 1px solid #000;
}
main{
    /* background-color: blueviolet; */
    border: 1px solid #000;
}
footer{
    /* background-color: chocolate; */
    border: 1px solid #000;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(132, 13, 211);
    padding: 10px;
    color: azure;
}
h1,
h2,
h3,
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: rgb(98, 98, 246);
    text-transform: uppercase;
    font-size: 48px;
}

h3:nth-child(4) {
    color: rgb(66, 131, 215);
}

h3:nth-child(7) {
    color: rgb(0, 255, 89);
}

h4:nth-child(8) {
    color: rgb(38, 66, 0);
}

h4:nth-child(11) {
    color: rgb(69, 40, 1);
}

h4:nth-child(14) {
    color: rgb(123, 0, 105);
}
.border-img{
    border-radius: 50px 100px 50px 100px;
    /* border: 10px solid rgb(225, 78, 159); */
    /* border: 10px dotted rgb(225, 78, 159); */
    /* border: 10px dashed rgb(225, 78, 159); */
    /* border: 10px groove rgb(225, 78, 159); */
    border-top: 50px groove rgb(0, 255, 89);
    border-right: 20px dotted rgb(69, 40, 1);
    border-bottom: 48px dashed rgb(132, 13, 211);
    border-left: 12px solid rgb(98, 98, 246);
}
.border-img-galaxy{
    border: 30px groove rgb(224, 112, 131) ;
    border-radius: 25px;
}
.border-img-demogorgon{
    border: 30px solid red;
    border-radius: 25px;
}
.border-img-honor_guard{
    border: 30px solid yellow;
    border-radius: 25px;
}
.border-img-black_knight{
    border: 30px solid green;
    border-radius: 25px;

}
.border-img-peely{
    border: 30px solid purple;
    border-radius: 25px;
}
.border-img-spider_man{
    border: 30px solid black;
    border-radius: 25px;
}
.border-img-fishstick{
    border: 30px solid white;
    border-radius: 25px;
}
.border-img-leviathan{
    border: 30px solid violet;
    border-radius: 25px;
}